@use '@/app/styles/vars.scss' as *;

$variants: (
	default: (
		bg-color: $component-bg-color,
		fg-color: $component-fg-color,
		bd-color: #777,
		hover-bd-color: $component-fg-color,
		hover-fg-color: $component-fg-color,
		hover-bg-color: $component-bg-color,
		disabled-bg-color: #151515,
		disabled-fg-color: $component-fg-color,
		disabled-bd-color: #151515,
		filter-bd-color: invert(57%) sepia(16%) saturate(0%) hue-rotate(144deg) brightness(77%) contrast(72%),
	),
	primary: (
		bg-color: white,
		fg-color: black,
		bd-color: white,
		hover-bd-color: white,
		hover-fg-color: white,
		hover-bg-color: #333,
		disabled-bg-color: #999,
		disabled-fg-color: black,
		disabled-bd-color: #999,
		filter-bd-color: invert(97%) sepia(3%) saturate(208%) hue-rotate(357deg) brightness(95%) contrast(95%),
	),
	error: (
		bg-color: #400,
		fg-color: red,
		bd-color: #900,
		hover-bd-color: red,
		hover-fg-color: red,
		hover-bg-color: #300,
		disabled-bg-color: #300,
		disabled-fg-color: red,
		disabled-bd-color: #300,
		filter-bd-color: invert(10%) sepia(44%) saturate(7419%) hue-rotate(355deg) brightness(102%) contrast(115%),
	),
	success: (
		bg-color: #020,
		fg-color: #090,
		bd-color: green,
		hover-bd-color: #0b0,
		hover-fg-color: #0b0,
		hover-bg-color: #020,
		disabled-bg-color: #020,
		disabled-fg-color: #0b0,
		disabled-bd-color: #020,
		filter-bd-color: invert(32%) sepia(97%) saturate(1120%) hue-rotate(90deg) brightness(98%) contrast(105%),
	),
	info: (
		bg-color: #012,
		fg-color: #09b,
		bd-color: #09b,
		hover-bd-color: cyan,
		hover-fg-color: cyan,
		hover-bg-color: #012,
		disabled-bg-color: #012,
		disabled-fg-color: #09b,
		disabled-bd-color: #012,
		filter-bd-color: invert(59%) sepia(75%) saturate(6378%) hue-rotate(165deg) brightness(97%) contrast(101%),
	),
	warning: (
		bg-color: #220,
		fg-color: #aa0,
		bd-color: #aa0,
		hover-bd-color: yellow,
		hover-fg-color: yellow,
		hover-bg-color: #220,
		disabled-bg-color: #220,
		disabled-fg-color: #bb0,
		disabled-bd-color: #220,
		filter-bd-color: invert(59%) sepia(56%) saturate(973%) hue-rotate(23deg) brightness(92%) contrast(104%),
	),
);
