@use '@/shared/ui/colors.scss' as *;

@mixin variant-button($variant) {
	$variant-map: map-get($variants, $variant);

	&.#{$variant} {
		&::after {
			stroke: map-get($variant-map, bg-color);
			stroke-width: 2px;
		}

		&:hover {
			stroke: map-get($variant-map, hover-bg-color);
		}

		&:checked {
			stroke: map-get($variant-map, hover-bg-color);
		}

		&:disabled {
			stroke: map-get($variant-map, bg-color);
		}
	}
}

.radio-button {
	appearance: none;
	background-image: url('../assets/radio-button.svg');
	background-size: cover;
	background-repeat: repeat;

	margin-bottom: -0.1em;
	width: 1.1em;
	height: 1.1em;
	align-items: center;
	gap: 0.2rem;
	cursor: pointer;
	padding: 0.2rem 0.2rem;

	&:checked {
		background-image: url(../assets/radio-button-enabled.svg);
	}

	@include variant-button('default');
	@include variant-button('primary');
	@include variant-button('error');
	@include variant-button('success');
	@include variant-button('info');
	@include variant-button('warning');
}

@mixin variant-label($variant) {
	$variant-map: map-get($variants, $variant);

	&.#{$variant} {
		color: map-get($variant-map, fg-color);

		&:disabled {
			color: map-get($variant-map, disabled-fg-color) !important;
		}
	}
}

.label {
	font-family: inherit;
	padding: 0.25rem 0.25rem;

	@include variant-label('default');
	@include variant-label('primary');
	@include variant-label('error');
	@include variant-label('success');
	@include variant-label('info');
	@include variant-label('warning');
}
